<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AstiCodes</title>
  <link rel='stylesheet' href='/stylesheets/main.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script defer src="/javascripts/main.js"></script>
</head>

<body>

  <!-- skills -->
  <div class="container">
    <div id="skills-container" class="board">
      <div class="skills-sec-1">
        <div class="skills-sec-1-1">
          <div class="purple-accent-top"></div>
          <div class="blue-box">
            <div class="blue-box-1">
              <div class="line">
                <div class="blue-line med"></div>
              </div>
            </div>
            <div class="blue-box-2">
              <dic class="line">
                <div class="blue-line long"></div>
                <div class="blue-line med"></div>
              </dic>
            </div>
            <div class="blue-box-3">
              <div class="line">
                <div class="blue-line med"></div>
              </div>
            </div>
            <div class="blue-box-4">
              <div class="line">
                <div class="blue-line long"></div>
                <div class="blue-line med"></div>
                <div class="blue-line long"></div>
                <div class="blue-line long"></div>
                <div class="blue-line long"></div>
                <div class="blue-line med"></div>
              </div>
            </div>
            <div class="sticky sticky-single">
              <h3>SKILLS</h3>
            </div>
          </div>

        </div>
        <div class="skills-sec-1-2">
          <div class="purple-accent-top"></div>
          <div class="notes">
            <div class="sticky pink"></div>
            <div class="sticky yellow"></div>
            <div class="sticky green"></div>
            <div class="sticky yellow"></div>

          </div>
        </div>
      </div>
      <div class="skills-sec-2">
        <div class="notes-1">
          <div class="sticky green"></div>
          <div class="sticky yellow"></div>
          <div class="sticky pink"></div>
        </div>

        <div class="line">
          <div class="blue-line long"></div>
          <div class="blue-line med"></div>
          <div class="blue-line med"></div>
          <div class="blue-line med"></div>
          <div class="blue-line long"></div>
          <div class="blue-line med"></div>
        </div>

        <div class="notes-2">
          <div class="sticky pink"></div>
          <div class="sticky yellow"></div>
          <div class="sticky green "></div>
          <div class="sticky green"></div>

        </div>
      </div>
    </div>
    <div class="space"></div>
  </div>
  <!-- end skills -->
</body>

</html>