<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AstiCodes</title>
  <link rel='stylesheet' href='/stylesheets/main.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script defer src="/javascripts/main.js"></script>
</head>

<body>
  <div class="container">
    <div class="logo">
      <span class="asticodes">AstiCodes</span>
    </div>
    <div class="sec-1">
      <div class="shelf-container">
        <!-- shelf 1 -->
        <div class="things-on-shelf">
          <!-- book links -->
          <div class="book-links-container">
            <div class="book-1-container">
              <a href="">
                <div class="book-1">
                  <div class="circle"></div>
                  <div class="link-wrapper">
                    ABOUT
                  </div>
                </div>
              </a>
            </div>
            <div class="book-2-container">
              <a href="">
                <div class="book-2">
                  <div class="circle"></div>
                  <div class="link-wrapper">
                    PORTFOLIO
                  </div>
                </div>
              </a>
            </div>
          </div>
          <!-- book links END -->
          <!-- plant Container -->
          <div class="plant-container">
            <div class="base">
              <div class="flowerpot"></div>
              <div class="blade blade-center"></div>
              <div class="blade blade-left-s"></div>
              <div class="blade blade-right-s"></div>
              <div class="blade blade-left-l"></div>
              <div class="blade blade-right-l"></div>
            </div>
          </div>
          <!-- plant container ends -->
          <!-- book 3&4 container -->
          <div class="book-3-and-4-container">
            <div class="book-3">
              <div class="stripe-1"></div>
              <div class="stripe-2"></div>
            </div>
            <div class="book-4">
              <div class="stripe-1"></div>
              <div class="stripe-2"></div>
            </div>
          </div>
          <!-- book 3&4 container ENDS -->
        </div>
        <div class="shelf-1"></div>
      </div>
      <!-- shelf 2 -->
      <div class="shelf-container">
        <div class="things-on-shelf">
          <!-- clock container -->
          <div class="clock-container">
            <div class="clock">
              <div class="outer-clock-face">
                <div class="marking marking-one"></div>
                <div class="marking marking-two"></div>
                <div class="marking marking-three"></div>
                <div class="marking marking-four"></div>
                <div class="inner-clock-face">
                  <div class="hand hour-hand"></div>
                  <div class="hand min-hand"></div>
                  <div class="hand second-hand"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- END clock container -->
          <!-- book links -->
          <div class="book-links-container">
            <div class="book-5-container">
              <a href="">
                <div class="book-5">
                  <div class="circle"></div>
                  <div class="link-wrapper">
                    SKILLS
                  </div>
                </div>
              </a>
            </div>
            <div class="book-6-container">
              <a href="/images/Resume.pdf" target="_blank">
                <div class="book-6">
                  <div class="circle"></div>
                  <div class="link-wrapper">
                    RESUME
                  </div>
                </div>
              </a>
            </div>
            <div class="book-7-container">
              <a href="https://codepen.io/AnastasiiaAsti" target="_blank">
                <div class="book-7">
                  <div class="circle"></div>
                  <div class="link-wrapper">
                    CODEPEN
                  </div>
                </div>
              </a>
            </div>
          </div>
          <!-- END book links container -->
        </div>
        <div class="shelf-2"></div>
      </div>
      <!-- 3rd shelf -->
      <div class="shelf-container">
        <div class="things-on-shelf">
          <!-- radio buttons -->
          <div class="radio-group">
            <label>
              <input type="radio" name="rotate-cube" value="one" checked />
            </label>
            <label>
              <input type="radio" name="rotate-cube" value="two" />
            </label>
            <label>
              <input type="radio" name="rotate-cube" value="three" />
            </label>
            <label>
              <input type="radio" name="rotate-cube" value="four" />
            </label>
          </div>
          <!-- end radio buttons -->
          <!-- toy START -->
          <div class="toy-container">
            <div class="links-cube-element">
              <div class="cube">
                <!-- Linkdin -->
                <div class="cube-face one">
                  <a href="https://linkedin.com/in/anastasiiaasti" target="_blank">
                    <i class="fab fa-xl fa-linkedin"></i>
                  </a>
                </div>
                <!-- END Linkdin -->
                <!-- GITHUB -->
                <div class="cube-face two">
                  <a href="https://github.com/AnastasiiaAsti" target="_blank">
                    <i class="fab fa-xl fa-github"></i>
                  </a>
                </div>
                <!-- END github -->
                <!-- Mail -->
                <div class="cube-face three">
                  <a class="" href="mailto:asti@asticodes.dev">
                    <i class="fa-solid fa-xl fa-envelope"></i>
                  </a>
                </div>
                <!-- END mail -->
                <!-- Instagram -->
                <div class="cube-face four">
                  <a href="https://www.instagram.com/dj_astiramira/?hl=en" target="_blank">
                    <i class="fab fa-xl fa-instagram"></i>
                  </a>
                </div>
                <!-- END instagram -->
              </div>
            </div>
            <!-- toy END -->
          </div>
        </div>
        <div class="shelf-3"></div>
      </div>
      <!-- END shelf 3 -->
    </div>
    <!-- SEC 1 ENDS -->
    <div class="sec-2">
      <div class="laptop-container">
        <div class="laptop">
          <div class="vscode">
            <div class="bar">
              <div class="red"></div>
              <div class="green"></div>
              <div class="yellow"></div>
            </div>
          </div>
          <div class="terminal">
            <div class="bar">
              <div class="red"></div>
              <div class="green"></div>
              <div class="yellow"></div>
            </div>
            <div class="terminal-message">
              <span id="text" class="text"></span>
            </div>
          </div>
        </div>
        <div class="laptop-btm"></div>
      </div>
    </div>
  </div>
  <div class="sec-3"></div>










  <!-- 
      
      <div class="books">
        <div class="book-1">
          <div class="stripe-1"></div>
          <div class="stripe-2"></div>
        </div>
        <div class="book-2">
          <div class="stripe-1"></div>
          <div class="stripe-2"></div>
        </div> -->
  <!-- Book with About link -->
  <!-- <a href="">
          <div class="book-3">
            <div class="circle"></div>
            <div class="link-wrapper">
              ABOUT
            </div>
          </div>
        </a> -->
  <!-- Book with portfolio link -->
  <!-- <a href="">
          <div class="book-4">
            <div class="circle"></div>
            <div class="link-wrapper">
              PORTFOLIO
            </div>
          </div>
        </a>


        <div class="book-5">
        </div>
      </div>
      <div class="wrap">
        <div class="base">
          <div class="flowerpot"></div>
          <div class="blade blade-center"></div>
          <div class="blade blade-left-s"></div>
          <div class="blade blade-right-s"></div>
          <div class="blade blade-left-l"></div>
          <div class="blade blade-right-l"></div>
        </div>
      </div> -->

  <!-- SHELF 1 -->
  <!-- <div class="shelf-top"></div> -->
  <!-- SHELF 2 -->
  <!-- <div class="clock">
        <div class="outer-clock-face">
          <div class="marking marking-one"></div>
          <div class="marking marking-two"></div>
          <div class="marking marking-three"></div>
          <div class="marking marking-four"></div>
          <div class="inner-clock-face">
            <div class="hand hour-hand"></div>
            <div class="hand min-hand"></div>
            <div class="hand second-hand"></div>
          </div>
        </div>
      </div> -->
  <!-- 
      <div class="lower-books">
        <a href="">
          <div class="book-3">
            <div class="circle"></div>
            <div class="link-wrapper">
              SKILLS
            </div>
          </div>
        </a> -->
  <!-- Book with portfolio link -->
  <!-- <a href="/images/Resume.pdf" target="_blank">
          <div class="book-4">
            <div class="circle"></div>
            <div class="link-wrapper">
              RESUME
            </div>
          </div>
        </a> -->
  <!-- Book w link -->
  <!-- <a href="https://codepen.io/AnastasiiaAsti" target="_blank">
          <div class="book-5">
            <div class="circle"></div>
            <div class="link-wrapper">
              CODEPEN
            </div>
          </div>
        </a>
      </div>
      <div class="shelf-2-top"></div>
      <div class="window">
        <div class="building-1">
          <div class="dot"></div>
          <div class="dot-2"></div>
          <div class="dot-3"></div>
          <div class="dot-4"></div>
          <div class="dot-5"></div>
          <div class="dot-6"></div>
          <div class="dot-7"></div>
          <div class="dot-8"></div>
          <div class="dot-9"></div>
          <div class="dot-10"></div>
          <div class="dot-11"></div>
          <div class="dot-12"></div>
          <div class="dot-13"></div>
          <div class="dot-14"></div>
          <div class="dot-15"></div>
          <div class="dot-16"></div>
          <div class="dot-17"></div>
          <div class="dot-18"></div>
          <div class="dot-19"></div>
          <div class="dot-20"></div>
          <div class="dot-21"></div>
          <div class="dot-22"></div>
        </div>
        <div class="building-2"></div>
        <div class="building-3"></div>
        <div class="antena"></div>
        <div class="danger-glow blink"></div>
        <div class="building-4"></div>
        <div class="building-5"></div>
      </div>
    </div> -->

  <!-- SECTION 2 -->
  <!-- <div class="sec-2">
      <div class="radio-group">
        <label>
          <input type="radio" name="rotate-cube" value="one" checked />
        </label>
        <label>
          <input type="radio" name="rotate-cube" value="two" />
        </label>
        <label>
          <input type="radio" name="rotate-cube" value="three" />
        </label>
        <label>
          <input type="radio" name="rotate-cube" value="four" />
        </label>
      </div>
      <div class="toy">
        <div class="links-cube-element">
          <div class="cube"> -->
  <!-- Linkdin -->
  <!-- <div class="cube-face one">
              <a href="https://linkedin.com/in/anastasiiaasti" target="_blank">
                <i class="fab fa-xl fa-linkedin"></i>
              </a>
            </div> -->
  <!-- Github -->
  <!-- <div class="cube-face two">
              <a href="https://github.com/AnastasiiaAsti" target="_blank">
                <i class="fab fa-xl fa-github"></i>
              </a>
            </div> -->
  <!-- Mail -->
  <!-- <div class="cube-face three">
              <a class="" href="mailto:asti@asticodes.dev">
                <i class="fa-solid fa-xl fa-envelope"></i>
              </a>
            </div> -->
  <!-- Instagram -->
  <!-- <div class="cube-face four">
              <a href="https://www.instagram.com/dj_astiramira/?hl=en" target="_blank">
                <i class="fab fa-xl fa-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div> -->


  <!-- <div class="laptop">
        <div class="vscode">
          <div class="bar"></div>
          <div class="red"></div>
          <div class="green"></div>
          <div class="yellow"></div>
        </div>
        <div class="terminal">
          <div class="bar"></div>
          <div class="red"></div>
          <div class="green"></div>
          <div class="yellow"></div>
        </div>
      </div>
      <div class="laptop-btm"></div>
      <div id="cup-wrapper">
        <div class="steam" id="steam1"></div>
        <div class="steam" id="steam2"></div>
        <div class="steam" id="steam3"></div>
        <div class="steam" id="steam4"></div>
        <div id="cup">
          <div id="cup-body">
            <div id="cup-shade"></div>
          </div>
          <div id="cup-handle"></div>
        </div>
        <div id="saucer"></div>
      </div>

    </div> -->

  <!-- SECTION 3 -->
  <!-- <div class="sec-3">
      <div class="table-top"></div>
      <div class="table-btm"></div>
      <div class="tbl-leg"></div>
      <div class="btm-shelves">
        <div class="shelf-1">
          <div class="handle"></div>
        </div>
        <div class="shelf-2">
          <div class="handle"></div>
        </div>
      </div>
    </div>-->
  </div>
</body>

</html>