<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AstiCodes</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <!-- <input type="checkbox" id="active">
  <label for="active" class="menu-btn"><span></span></label>
  <label for="active" class="close"></label>
  <div class="wrapper">
    <ul>
      <li><a href="#">Intro</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">CodePen</a></li>
    </ul>
  </div> -->
  <div class="container">

    <!-- SECTION 1 -->
    <div class="sec-1">
      <div class="logo">
        <span class="asticodes">AstiCodes</span>
      </div>
      <div class="books">


        <div class="book-1">
          <div class="stripe-1"></div>
          <div class="stripe-2"></div>
        </div>
        <div class="book-2">
          <div class="stripe-1"></div>
          <div class="stripe-2"></div>
        </div>
        <!-- Book with About link -->
        <a href="">
          <div class="book-3">
            <div class="circle"></div>
            <div class="link-wrapper">
              ABOUT
            </div>
          </div>
        </a>
        <!-- Book with portfolio link -->
        <a href="">
          <div class="book-4">
            <div class="circle"></div>
            <div class="link-wrapper">
              PORTFOLIO
            </div>
          </div>
        </a>


        <div class="book-5">
        </div>
      </div>
      <div class="wrap">
        <div class="base">
          <div class="flowerpot"></div>
          <div class="blade blade-center"></div>
          <div class="blade blade-left-s"></div>
          <div class="blade blade-right-s"></div>
          <div class="blade blade-left-l"></div>
          <div class="blade blade-right-l"></div>
        </div>
      </div>
      <div class="shelf-top"></div>
      <div class="shelf-2-top"></div>
      <div class="window">
        <div class="building-1">
          <div class="dot"></div>
          <div class="dot-2"></div>
          <div class="dot-3"></div>
          <div class="dot-4"></div>
          <div class="dot-5"></div>
          <div class="dot-6"></div>
          <div class="dot-7"></div>
          <div class="dot-8"></div>
          <div class="dot-9"></div>
          <div class="dot-10"></div>
          <div class="dot-11"></div>
          <div class="dot-12"></div>
        </div>
        <div class="building-2"></div>
        <div class="building-3"></div>
        <div class="building-4"></div>
        <div class="building-5"></div>
      </div>
    </div>

    <!-- SECTION 2 -->
    <div class="sec-2">
      <div id="cup-wrapper">
        <div class="steam" id="steam1"></div>
        <div class="steam" id="steam2"></div>
        <div class="steam" id="steam3"></div>
        <div class="steam" id="steam4"></div>
        <div id="cup">
          <div id="cup-body">
            <div id="cup-shade"></div>
          </div>
          <div id="cup-handle"></div>
        </div>
        <div id="saucer"></div>
      </div>
      <div class="laptop"></div>
      <div class="laptop-btm"></div>
      <div class="lamp">
        <div class="stand"></div>
        <div class="stick"></div>
        <div class="lamp-top"></div>
      </div>
    </div>

    <!-- SECTION 3 -->
    <div class="sec-3">
      <div class="table-top"></div>
      <div class="table-btm"></div>
      <div class="tbl-leg"></div>
      <div class="btm-shelves">
        <div class="shelf-1"></div>
        <div class="shelf-2"></div>
      </div>
    </div>
  </div>
</body>

</html>