<!DOCTYPE html>
<html>

<head>
  <title>AstiCodes</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
  <!-- <input type="checkbox" id="active">
  <label for="active" class="menu-btn"><span></span></label>
  <label for="active" class="close"></label>
  <div class="wrapper">
    <ul>
      <li><a href="#">Intro</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">CodePen</a></li>
    </ul>
  </div> -->
  <div class="container">
    <div class="sec-1">
      <div class="books">

      </div>
      <div class="shelf"></div>
      <div class="window">
        <div class="building-1"></div>
        <div class="building-2"></div>
        <div class="building-3"></div>
        <div class="building-4"></div>
        <div class="building-5"></div>
      </div>
    </div>
    <div class="sec-2">
      <div class="cup"></div>
      <div class="laptop"></div>
      <div class="laptop-btm"></div>
      <div class="lamp"></div>
    </div>
    <div class="sec-3">
      <div class="table-top"></div>
      <div class="table-btm"></div>
      <div class="tbl-leg"></div>
      <div class="btm-shelves">
        <div class="shelf-1"></div>
        <div class="shelf-2"></div>
      </div>
    </div>
  </div>
</body>

</html>