@import url("https://fonts.googleapis.com/css2?family=Condiment&display=swap");
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


:root {
    --bg: #141432;
    --bg-1: #262758;
    --purple-lt: #2a2d71;
    --text: #f6fae7;
    --tbl: #976638;
    --tbl-lt: #b68c53;
    --green-lt: #abe07a;
    --green: #25a037;
    --orange: #e1953e;
    --red: #e1443e;
    --teal: #57968e;
    --window: #faf4d0;
    --laptop: #727272;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    color: var(--text);
    background-color: var(--bg-1);
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

a {
    text-decoration: none;
    font-size: 20px;
}

/* LOGO */

.logo {
    height: 5%;
}

.asticodes {
    font-family: "Condiment", cursive;
    font-size: 60px;
    color: #fff;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
        0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
    animation: flicker 1.5s infinite alternate;
}

/* Flickering animation */
@keyframes flicker {

    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
        text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
            0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
}

/* SECTION 1 */

.sec-1 {
    height: 60%;
    display: flex;
    flex-direction: column;
}

/* shelf 1 container */
.sec-1 .shelf-container {
    width: 100%;
    height: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.sec-1 .shelf-container .things-on-shelf {
    height: 90%;
    display: flex;
}

.things-on-shelf .book-links-container {
    width: 50%;
    height: 100%;
}

.things-on-shelf .plant-container {
    width: 30%;
    height: 100%;
}

.things-on-shelf .book-3-and-4-container {
    width: 20%;
    height: 100%;
}

/* #1 */

.things-on-shelf .book-links-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.book-1-container {
    background-color: var(--teal);
    width: 95%;
    height: 25%;
    margin-left: 15px;
}

.book-2-container {
    background-color: var(--orange);
    width: 95%;
    height: 25%;
}

.book-1-container .book-1,
.book-2-container .book-2,
.book-5-container .book-5,
.book-6-container .book-6,
.book-7-container .book-7 {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.book-1-container .book-1 .circle,
.book-2-container .book-2 .circle,
.book-5-container .book-5 .circle,
.book-6-container .book-6 .circle,
.book-7-container .book-7 .circle {
    background-color: var(--text);
    width: 10%;
    height: 50%;
    border-radius: 50%;
}

.book-1-container .book-1 .link-wrapper,
.book-2-container .book-2 .link-wrapper,
.book-5-container .book-5 .link-wrapper,
.book-6-container .book-6 .link-wrapper,
.book-7-container .book-7 .link-wrapper {
    background-color: var(--text);
    width: 80%;
    height: 76%;
    text-align: center;
    padding-top: 3px;
}

/* END #1 */

/* #2 with plant*/
.things-on-shelf .plant-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

/* PLANT */

.base {
    position: relative;
    display: block;
    width: 90%;
}

.flowerpot {
    position: relative;
    width: 100%;
    height: 70px;
    overflow: hidden;
    background-image: linear-gradient(50deg,
            #d1bb94 20px,
            #d1bb94 21px,
            transparent 20px),
        linear-gradient(310deg, #d1bb94 20px, #d1bb94 21px, #d1bb94 100%);
}

.flowerpot:after {
    content: " ";
    position: absolute;
    display: block;
    left: 30px;
    top: -5px;
    width: 60px;
    height: 90px;
    background: linear-gradient(285deg, #d1bb94 20px, #d6c8a5 21px, #d6c8a5 100%);
    transform: rotate(50deg);
}

.blade {
    position: absolute;
    bottom: 40px;
    overflow: hidden;
    transform-origin: 50% 100%;
    z-index: -1;
}

.blade:before,
.blade:after {
    content: "";
    position: absolute;
    top: 0;
    border-top: 0;
    border-radius: 50%;
}

.blade-left-s {
    height: 60px;
    width: 50px;
    left: -15px;
    animation: wave 3s infinite ease-in-out;
}

.blade-left-s:before {
    right: 0;
    height: 50px;
    width: 90px;
    border-right: 20px solid var(--green-lt);
}

.blade-left-s:after {
    top: 1px;
    right: 6px;
    height: 120px;
    width: 90px;
    transform: rotateZ(15deg);
    border-right: 18px solid var(--green-lt);
}

.blade-left-l {
    height: 100px;
    width: 80px;
    left: -30px;
    animation: wave2 4s infinite ease-in-out;
}

.blade-left-l:before {
    right: 2px;
    height: 190px;
    width: 160px;
    border-right: 25px solid #aad670;
    transform: rotateZ(20deg);
}

.blade-left-l:after {
    right: 7px;
    height: 190px;
    width: 160px;
    border-right: 18px solid #abe07a;
    transform: rotateZ(25deg);
}

.blade-right-s {
    height: 50px;
    width: 80px;
    right: -35px;
    animation: wave2 3.2s -0.5s infinite ease-in-out;
}

.blade-right-s:before {
    left: 0;
    height: 190px;
    width: 100px;
    border-left: 22px solid #aad670;
}

.blade-right-s:after {
    left: 15px;
    height: 190px;
    width: 100px;
    border-left: 13px solid #abe07a;
    transform: rotateZ(-10deg);
}

.blade-right-l {
    height: 75px;
    width: 80px;
    right: -22px;
    animation: wave 3.2s -1s infinite ease-in-out;
}

.blade-right-l:before {
    left: 0;
    height: 190px;
    width: 160px;
    border-left: 26px solid #aad670;
}

.blade-right-l:after {
    left: 6px;
    height: 190px;
    width: 160px;
    border-left: 20px solid #abe07a;
    transform: rotateZ(-10deg);
}

.blade-center {
    height: 120px;
    width: 90px;
    left: -15px;
    animation: wave 3s -1.2s infinite ease-in-out;
}

.blade-center:before {
    right: 10px;
    height: 240px;
    width: 140px;
    border-right: 28px solid #aad670;
    transform: rotateZ(15deg);
}

.blade-center:after {
    right: 15px;
    height: 240px;
    width: 140px;
    border-right: 17px solid #abe07a;
    transform: rotateZ(15deg);
}

@keyframes wave {
    0% {
        transform: rotateZ(3deg) translateZ(-1px);
    }

    25% {
        transform: rotateZ(-4deg) translateZ(-1px);
    }

    50% {
        transform: rotateZ(2deg) translateZ(-1px);
    }

    75% {
        transform: rotateZ(-6deg) translateZ(-1px);
    }

    100% {
        transform: rotateZ(3deg) translateZ(-1px);
    }
}

@keyframes wave2 {
    0% {
        transform: rotateZ(0deg) translateZ(-1px);
    }

    25% {
        transform: rotateZ(-3deg) translateZ(-1px);
    }

    50% {
        transform: rotateZ(3deg) translateZ(-1px);
    }

    75% {
        transform: rotateZ(-1deg) translateZ(-1px);
    }

    100% {
        transform: rotateZ(0deg) translateZ(-1px);
    }
}

/* END #2 */

/* #3 with books*/

.things-on-shelf .book-3-and-4-container {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.book-3,
.book-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-3 {
    background-color: #25a037;
    width: 20%;
    height: 60%;
    margin-right: 15px;
    transform: rotate(20deg);
}

.book-3 .stripe-1 {
    background-color: #1a7227;
    width: 100%;
    height: 8%;
    margin-top: 5px;
}

.book-3 .stripe-2 {
    background-color: #1a7227;
    width: 100%;
    height: 8%;
    margin-bottom: 5px;
}

.book-4 {
    background-color: var(--orange);
    width: 30%;
    height: 90%;
}

.book-4 .stripe-1 {
    background-color: var(--tbl);
    width: 100%;
    height: 8%;
    margin-top: 5px;
}

.book-4 .stripe-2 {
    background-color: var(--tbl);
    width: 100%;
    height: 8%;
    margin-bottom: 5px;
}

/* END #3 */

.shelf-1,
.shelf-2,
.shelf-3 {
    height: 10%;
    width: 100%;
    border: 1px solid var(--tbl);
    background-color: var(--tbl);
    border-radius: 5px;
    box-shadow: 0 24px 20px -6px black;
}

/* END shelf 1 container */

/* START SHELF 2 container */
.clock-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* clock */

.clock {
    width: 8rem;
    height: 8rem;
    border: 5px solid var(--tbl-lt);
    border-radius: 50%;
    box-shadow: 0 24px 20px -6px black;
}

.outer-clock-face {
    position: relative;
    background: var(--text);
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.outer-clock-face::after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg)
}

.outer-clock-face::after,
.outer-clock-face::before,
.outer-clock-face .marking {
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background: var(--bg-1);
    z-index: 0;
    left: 49%;
}

.outer-clock-face .marking {
    background: var(--tbl);
    width: 3px;
}

.outer-clock-face .marking.marking-one {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    transform: rotate(30deg)
}

.outer-clock-face .marking.marking-two {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg)
}

.outer-clock-face .marking.marking-three {
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    transform: rotate(120deg)
}

.outer-clock-face .marking.marking-four {
    -webkit-transform: rotate(150deg);
    -moz-transform: rotate(150deg);
    transform: rotate(150deg)
}

.inner-clock-face {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: var(--text);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    z-index: 1;
}

.inner-clock-face::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    border-radius: 18px;
    margin-left: -9px;
    margin-top: -6px;
    background: #4d4b63;
    z-index: 11;
}


.hand {
    width: 50%;
    right: 50%;
    height: 6px;
    background: var(--bg-1);
    position: absolute;
    top: 50%;
    border-radius: 6px;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hand.hour-hand {
    width: 30%;
    z-index: 3;
}

.hand.min-hand {
    height: 3px;
    z-index: 10;
    width: 40%;
}

.hand.second-hand {
    background: #ee791a;
    width: 45%;
    height: 2px;
}

.book-5-container {
    background-color: var(--red);
    width: 95%;
    height: 25%;
}

.book-6-container {
    background-color: var(--orange);
    width: 95%;
    height: 25%;
    margin-right: 25px;
}

.book-7-container {
    background-color: var(--green);
    width: 95%;
    height: 25%;
}

/* END SHELF 2 container */

/* SHELF 3 */

.radio-group {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* LINKS in CUBE */

.toy-container {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.links-cube-element {
    width: 50%;
    height: 69%;
    /* perspective: 400px; */
}

.cube {
    width: 200px;
    height: 100px;
    transform-style: preserve-3d;
    transform: translateZ(-50px);
    transition: transform 1s;
}

.cube.show-one {
    transform: translateZ(-50px) rotateY(0deg);
}

.cube.show-two {
    transform: translateZ(-5px) rotateY(-90deg);
}

.cube.show-three {
    transform: translateZ(-50px) rotateY(-190deg);
}

.cube.show-four {
    transform: translateZ(-50px) rotateY(90deg);
}

.cube-face {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    line-height: 100px;
    color: white;
    text-align: center;
}

.one i,
.two i,
.three i,
.four i,
.five i,
.six i {
    font-size: 60px;
    color: black;
}

.one {
    background: var(--teal)
}

.two {
    background: var(--green-lt);
}

.three {
    background: var(--orange);
}

.four {
    background: var(--red);
}

.one {
    transform: rotateY(0deg) translateZ(50px);
}

.two {
    transform: rotateY(90deg) translateZ(50px);
}

.three {
    transform: rotateY(180deg) translateZ(50px);
}

.four {
    transform: rotateY(-90deg) translateZ(50px);
}

/* END shelf 3 */

/* END section 1 */

/* SECTION 2 */

.sec-2 {
    height: 30%;
    border: 1px solid white;
}

.laptop-container {
    border: 1px solid yellow;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.laptop {
    width: 86%;
    height: 92%;
    border: 10px solid black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: var(--text);
}

.laptop-btm {
    width: 100%;
    height: 8%;
    background-color: var(--laptop);
    border-radius: 5px;
    box-shadow: 0 24px 20px -6px black;
}

.vscode {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #313642;
    display: none;
}

.terminal {
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    width: 80%;
    height: 75%;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.vscode .bar,
.terminal .bar {
    width: 100%;
    height: 5%;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.vscode .red,
.terminal .red {
    height: 5px;
    width: 5px;
    background-color: #e1443e;
    border-radius: 50%;
}

.vscode .yellow,
.terminal .yellow {
    height: 5px;
    width: 5px;
    background-color: #e1953e;
    border-radius: 50%;
}

.vscode .green,
.terminal .green {
    height: 5px;
    width: 5px;
    background-color: #1a7227;
    border-radius: 50%;
}


/* START terminal */


.terminal-message {
    padding: 15px;
}

.text {
    border-right: 2px solid var(--green-lt);
    color: var(--green-lt);
    font-family: 'VT323', monospace;
    letter-spacing: 1px;
    font-size: 20px;
}


/* END section 2 */

/* SECTION 3 */

.sec-3 {
    display: none;
}

/* END section 3 */