@import url('https://fonts.googleapis.com/css2?family=Condiment&display=swap');

:root {
    --bg: #141432;
    --bg-1: #262758;
    --purple-lt: #2A2D71;
    --text: #F6FAE7;
    --tbl: #976638;
    --tbl-lt: #B68C53;
    --green-lt:#abe07a;
    --green:#25a037;;
    --orange:#e1953e;
    --red: #e1443e;
    --teal: #57968E;
    --window: #faf4d0;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    color: var(--text);
    background-color: var(--bg-1);
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* LOGO */

.logo {
    height: 5%;
}

.asticodes {
    font-family: 'Condiment', cursive;
    font-size: 40px;
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
    animation: flicker 1.5s infinite alternate;
}

  /* Flickering animation */
@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    }
    20%, 24%, 55% {        
        text-shadow: none;
    }    
}

/* SECTION 1 */

.sec-1 {
    height: 60%;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
}

.shelf-container {
    border: 1px solid red;
    width: 100%;
    height: 33.3%;
    display: flex;
}

.shelf-1,
.shelf-2,
.shelf-3 {
    height: 10%;
    width: 100%;
    border: 1px solid var(--tbl);
    background-color: var(--tbl);
    border-radius: 5px;
    box-shadow: 0 24px 20px -6px black;
    align-self: flex-end;
}

/* END section 1 */

/* SECTION 2 */

.sec-2 {
    height: 30%;
    border: 1px solid white;
}

.laptop-container {
    border: 1px solid yellow;
    height: 100%;
}

/* END section 2 */

/* SECTION 3 */

.sec-3 {
    display: none;
}

/* END section 3 */