@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');


:root {
  /* #262758 */
  --bg-1: rgb(38, 39, 88);
  /* #20155F */
  --bg-2: rgb(32, 21, 95);
  /* #2A2D71 */
  --purple-lt: rgb(42, 45, 113);
  /* #EA336E */
  --neon-pink: rgb(234, 51, 110);
  /*  #EF89F7*/
  --neon-pink-lt: rgb(239, 137, 247);
  /* #D3DE69 */
  --neon-green-lt: rgb(211, 222, 105);
  /* #477FAD */
  --neon-blue: rgb(71, 127, 173);
  /* #69E0E6 */
  --neon-blue-lt: rgb(105, 224, 230);
  /* #F6FAE7 */
  --text: rgb(246, 250, 231);
}

/* .bedas {
  font-family: 'Bebas Neue', cursive;
}

.lucky {
  font-family: 'Luckiest Guy', cursive;
}

.monoton {
  font-family: 'Monoton', cursive;
}

.abril {
  font-family: 'Abril Fatface', cursive;
}

.bangers {
  font-family: 'Bangers', cursive;
}

.lobster {
  font-family: 'Lobster', cursive;
} */

* {
  box-sizing: border-box;
  font-size: 1.4rem;
  font-family: 'Belleza', sans-serif;
}

body {
  height: 100vh;
  color: var(--text);
  background-color: var(--bg-1);
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sec-1,
.sec-2
{
  height: 40%;
  position: relative;
}

.sec-3 {
  position: relative;
  height: 20%;
}

/* plant */

.wrap {
  position: absolute;
  top:220px;
  left: 400px;
}

.base {
	position:relative;
	display:block;
	width:110px;
}

.flowerpot {
	position:relative;
	width:100%;
	height:70px;
	overflow:hidden;
	background-image: linear-gradient(50deg, #d1bb94 20px, #d1bb94 21px, transparent 20px), linear-gradient(310deg, #d1bb94 20px, #d1bb94 21px, #d1bb94 100%);
}

.flowerpot:after {
    content: " ";
    position:absolute;
    display:block;
    left:30px;
    top:-5px;
    width:60px;
    height:90px;
    background:linear-gradient(285deg, #d1bb94 20px, #d6c8a5 21px, #d6c8a5 100%);
    transform:rotate(50deg);
}

.blade {
	position:absolute;
	bottom:40px;
	overflow:hidden;
	transform-origin:50% 100%;
	z-index:-1;
}

.blade:before,
.blade:after {
  content:"";
  position:absolute;
  top:0;
  border-top:0;
  border-radius:50%;
}

.blade-left-s {
	height:60px;
	width:50px;
	left:-15px;
	animation: wave 3s infinite ease-in-out;
}

.blade-left-s:before {
	right:0;
	height:50px;
  width:90px;
	border-right: 20px solid #aad670;
}

.blade-left-s:after {
	top:1px;
	right:6px;
	height:120px;
	width:90px;
	transform: rotateZ(15deg);
	border-right: 18px solid #abe07a;
}

.blade-left-l {
	height:100px;
	width:80px;
	left:-30px;
	animation: wave2 4s infinite ease-in-out;
}

.blade-left-l:before {
		right:2px;
		height:190px;
		width:160px;
		border-right: 25px solid #aad670;
		transform: rotateZ(20deg);
}
	
.blade-left-l:after {
		right:7px;
		height:190px;
		width:160px;
		border-right: 18px solid #abe07a;
		transform: rotateZ(25deg);
	}


.blade-right-s {
	height:50px;
	width:80px;
	right:-35px;
	animation: wave2 3.2s -0.5s infinite ease-in-out;
}

.blade-right-s:before {
		left:0;
		height:190px;
		width:100px;
		border-left: 22px solid #aad670;
	}
	
.blade-right-s:after {
		left:15px;
		height:190px;
		width:100px;
		border-left: 13px solid #abe07a;
		transform: rotateZ(-10deg);
	}


.blade-right-l {
	height:75px;
	width:80px;
	right:-22px;
	animation: wave 3.2s -1s infinite ease-in-out;
}
.blade-right-l:before {
		left:0;
		height:190px;
		width:160px;
		border-left: 26px solid #aad670;
	}
	
.blade-right-l:after {
		left:6px;
		height:190px;
		width:160px;
		border-left: 20px solid #abe07a;
		transform: rotateZ(-10deg);
	}


.blade-center {
	height:120px;
	width:90px;
	left:-15px;
	animation: wave 3s -1.2s infinite ease-in-out;
}
.blade-center:before {
		right:10px;
		height:240px;
		width:140px;
		border-right: 28px solid #aad670;
		transform: rotateZ(15deg);
}

.blade-center:after {
		right:15px;
		height:240px;
		width:140px;
		border-right: 17px solid #abe07a;
		transform: rotateZ(15deg);
	}

@keyframes wave {
	0% {
		transform: rotateZ(3deg) translateZ(-1px);
	}
	25%{
		transform: rotateZ(-4deg) translateZ(-1px);
	}
	50% {
		transform: rotateZ(2deg) translateZ(-1px);
	}
	75% {
		transform: rotateZ(-6deg) translateZ(-1px);
	}
	100% {
		transform: rotateZ(3deg) translateZ(-1px);
	}
}

@keyframes wave2 {
	0% {
		transform: rotateZ(0deg) translateZ(-1px);
	}
	25%{
		transform: rotateZ(-3deg) translateZ(-1px);
	}
	50% {
		transform: rotateZ(3deg) translateZ(-1px);
	}
	75% {
		transform: rotateZ(-1deg) translateZ(-1px);
	}
	100% {
		transform: rotateZ(0deg) translateZ(-1px);
	}
}

.shelf-top {
  height: 20px;
  width: 40%;
  position: absolute;
  border: 1px solid rgb(151, 102, 56);
  background-color: rgb(151, 102, 56);
  top: 50%;
  left: 20px;
  border-radius: 5px;
}

.shelf-2-top {
  height: 20px;
  width: 40%;
  position: absolute;
  border: 1px solid rgb(151, 102, 56);
  background-color: rgb(151, 102, 56);
  bottom: 0;
  left: 20px;
  border-radius: 5px;
}


.window {
  position: absolute;
  display: flex;
  align-items: flex-end;
  right: 10px;
  top:10px;
  height: 150%;
  width: 50%;
  border: 20px solid rgb(151, 102, 56);
  background: rgb(38,39,88);
  background: -moz-linear-gradient(188deg, rgba(38,39,88,1) 0%, rgba(96,42,113,1) 50%, rgba(234,51,110,1) 100%);
  background: -webkit-linear-gradient(188deg, rgba(38,39,88,1) 0%, rgba(96,42,113,1) 50%, rgba(234,51,110,1) 100%);
  background: linear-gradient(188deg, rgba(38,39,88,1) 0%, rgba(96,42,113,1) 50%, rgba(234,51,110,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#262758",endColorstr="#ea336e",GradientType=1);
}

.dot,
.dot-1,
.dot-2,
.dot-3,
.dot-4,
.dot-5,
.dot-6,
.dot-7,
.dot-8,
.dot-9,
.dot-10,
.dot-11,
.dot-12 {
  width: 8px;
  height: 8px;
  background-color: #fff;
  /* -webkit-animation-name: flicker;
          animation-name: flicker;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear; */
}

/* 

@keyframes flicker {
  from {
      opacity: 0.5;
    }
    4% {
      opacity: 0.7;
    }
    8% {
      opacity: 0.45;
    }
    12% {
      opacity: 0.65;
    }
    16% {
      opacity: 0.30;
    }
    20% {
      opacity: 0.5;
    }
    24% {
      opacity: 0.6;
    }
    28% {
      opacity: 0.25;
    }
    32% {
      opacity: 0.30;
    }
    36% {
      opacity: 0.55;
    }
    40% {
      opacity: 0.4;
    }
    44% {
      opacity: 0.6;
    }
    48% {
      opacity: 0.35;
    }
    52% {
      opacity: 0.20;
    }
    56% {
      opacity: 0.70;
    }
    60% {
      opacity: 0.5;
    }
    64% {
      opacity: 0.65;
    }
    68% {
      opacity: .35;
    }
    72% {
      opacity: 0.5;
    }
    76% {
      opacity: 0.4;
    }
    80% {
      opacity: .65;
    }
    84% {
      opacity: 0.40;
    }
    88% {
      opacity: 0.35;
    }
    92% {
      opacity: 0.6;
    }
    96% {
      opacity: 0.3;
    }
    to {
      opacity: 0.5;
    }
  } */

.dot {
  position: absolute;
  right: 20px;
}

.dot-2 {
  position: absolute;
  right: 40px;
}

.dot-3 {
  position: absolute;
  right: 40px;
  bottom: 20px;
}

.dot-4 {
  position: absolute;
  right: 120px;
  bottom: 120px;
}

.dot-5 {
  position: absolute;
  right: 140px;
  bottom: 300px;
}

.dot-6 {
  position: absolute;
  right: 120px;
  bottom: 120px;
}

.dot-7 {
  position: absolute;
  right: 300px;
  bottom: 200px;
}
.dot-8 {
  position: absolute;
  right: 300px;
  bottom: 220px;
}
.dot-9 {
  position: absolute;
  right: 300px;
  bottom: 260px;
}

.dot-10 {
  position: absolute;
  left: 60px;
  bottom: 120px;
}
.dot-11 {
  position: absolute;
  left: 60px;
  bottom: 200px;
}

.dot-12 {
  position: absolute;
  right: 400px;
  bottom: 120px;
}



.building-1 {
  background-color: black;
  height: 55%;
  width: 20%;
}

.building-2 {
  background-color: black;
  height: 20%;
  width: 20%;
}

.building-3 {
  background-color: black;
  height: 50%;
  width: 20%;
}

.building-4 {
  background-color: black;
  height: 80%;
  width: 20%;
}

.building-5 {
  background-color: black;
  height: 65%;
  width: 20%;
}

.laptop {
  position: absolute;
  bottom:20px;
  left:30%;
  width: 40%;
  height: 300px;
  border: 10px solid black;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: rgb(84, 84, 84);

}

.laptop-btm {
  position: absolute;
  bottom:0;
  left:25%;
  width: 50%;
  height: 20px;
  background-color: white;
  border-radius: 5px;
}

.table-top {
  position: absolute;
  top: 0;
  left: 6%;
  width: 88%;
  height: 30px;
  background-color: rgb(182, 140, 83);
}

.table-btm {
  position: absolute;
  height: 20px;
  width: 80%;
  background-color: rgb(151, 102, 56);
  top:30px;
  left: 10%;
}

.tbl-leg {
  position: absolute;
  top: 50px;
  left:10%;
  width: 50px;
  height: 82%;
  background-color: rgb(151, 102, 56);
}

.btm-shelves{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  top: 50px;
  right: 10%;
  height: 82%;
  width: 300px;
  background-color: rgb(182, 140, 83);
}

.shelf-1,
.shelf-2 {
  width: 250px;
  height: 70px;
  background-color: rgb(151, 102, 56);
}

/* cuo */

/*cup animation*/

.steam {
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #fff;
  margin-top: -60px;
  margin-left: 150px;
  z-index: 0;
  opacity: 0;
}

#steam1 {
  -webkit-animation: steam1 4s ease-out infinite;
  animation: steam1 4s ease-out infinite;
}

#steam3 {
  -webkit-animation: steam1 4s ease-out 1s infinite;
  animation: steam1 4s ease-out 1s infinite;
}

@-webkit-keyframes steam1 {
  0% {
      transform: translateY(0) translateX(0) scale(0.25);
      opacity: 0.2;
  }

  100% {
      transform: translateY(-200px) translateX(-20px) scale(1);
      opacity: 0;
  }
}

@keyframes steam1 {
  0% {
      transform: translateY(0) translateX(0) scale(0.25);
      opacity: 0.2;
  }

  100% {
      transform: translateY(-200px) translateX(-20px) scale(1);
      opacity: 0;
  }
}

#steam2 {
  -webkit-animation: steam2 4s ease-out 0.5s infinite;
  animation: steam2 4s ease-out 0.5s infinite;
}

#steam4 {
  -webkit-animation: steam2 4s ease-out 1.5s infinite;
  animation: steam2 4s ease-out 1.5s infinite;
}

@-webkit-keyframes steam2 {
  0% {
      transform: translateY(0) translateX(0) scale(0.25);
      opacity: 0.2;
  }

  100% {
      transform: translateY(-200px) translateX(20px) scale(1);
      opacity: 0;
  }
}

@keyframes steam2 {
  0% {
      transform: translateY(0) translateX(0) scale(0.25);
      opacity: 0.2;
  }

  100% {
      transform: translateY(-200px) translateX(20px) scale(1);
      opacity: 0;
  }
}

#cup {
  z-index: 1;
}

#cup-wrapper {
  margin-bottom: 5px;
  position: absolute;
  bottom: 0;
}

#cup-body {
  position: absolute;
  height: 100px;
  width: 150px;
  bottom: 5px;
  left: 140px;
  border-radius: 0 0 150px 150px;
  background-color: #fff;
  margin: auto;
  display: inline-block;
  overflow: hidden;
  z-index: 1;
}

#cup-shade {
  position: relative;
  height: 150px;
  width: 100px;
  background-color: #F3F3F3;
  display: inline-block;
  margin-left: 42%;
  margin-top: -3px;
  transform: rotate(50deg);
  z-index: 1;
}

#cup-handle {
  position: relative;
  height: 37.5px;
  width: 40px;
  border-radius: 0 150px 150px 0;
  border: 5px solid #F3F3F3;
  margin-bottom: 50px;
  margin-left: 270px;
  display: inline-block;
  z-index: 0;
}

#saucer {
  position: absolute;
  bottom: -5px;
  right: 20px;
  height: 15px;
  width: 150px;
  border-radius: 0 0 100px 100px;
  background-color: #F9F9F9;
  /* margin-top: -1px;
  margin-left: 5px; */
  z-index: 2;
}


/* NAVBAR */

/* .wrapper{
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: 100%;
  background: #00000068;
  transition: all 0.6s ease-in-out;
}
#active:checked ~ .wrapper{
  right:0;
}
.menu-btn{
  position: absolute;
  z-index: 2;
  right: 20px;
  top: 20px;
  height: 80px;
  width: 80px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  
}
.menu-btn span,
.menu-btn:before,
.menu-btn:after{
	content: "";
	position: absolute;
	top: calc(50% - 1px);
	left: 30%;
	width: 40%;
	border-bottom: 2px solid var(--text);
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu-btn:before{
  transform: translateY(-8px);
}
.menu-btn:after{
  transform: translateY(8px);
}

.close {
	z-index: 1;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition: background .5s;
} */

/* closing animation */
/* #active:checked + .menu-btn span {
	transform: scaleX(0);
}
#active:checked + .menu-btn:before {
	transform: rotate(45deg);
  border-color: #fff;
}
#active:checked + .menu-btn:after {
	transform: rotate(-45deg);
  border-color: #fff;
}
.wrapper ul{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.wrapper ul li{
  height: 10%;
  margin: 15px 0;
}
.wrapper ul li a{
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  position: absolute;
  line-height: 50px;
  margin: 5px 30px;
  opacity: 0;
  transition: all 0.3s ease;
  transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.wrapper ul li a:hover{
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;

}
input[type="checkbox"]{
  display: none;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}
.content .title{
  font-size: 40px;
  font-weight: 700;
}
.content p{
  font-size: 35px;
  font-weight: 600;
}

#active:checked ~ .wrapper ul li a{
  opacity: 1;
}
.wrapper ul li a{
  transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(100px);
}
#active:checked ~ .wrapper ul li a{
	transform: none;
	transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1);
  transition-delay: 0.6s;
  transform: translateX(-100px);
} */

/* MEDIA QUERIES */


/* @media screen 
  and (min-device-width: 2200px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .container {
      width: 40vw;
      height: 50vh;
    }
}

@media screen 
  and (min-device-width: 1400px) 
  and (max-device-width: 2200px)
  and (-webkit-min-device-pixel-ratio: 1) { 
    .container {
      width: 60vw;
      height: 80vh;
    }
}

@media screen 
  and (min-device-width: 1100px) 
  and (max-device-width: 1399px)
  and (-webkit-min-device-pixel-ratio: 1) { 
    .container {
      width: 100vw;
      height: 100vh;
    } 
}



/* @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
} */